nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
}

.logo img {
  width: 100px;
  margin-left: 25px;
}

.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;
  margin-right: 25px;
}

.tabs a {
  margin-right: 20px;
  text-decoration: none;
  color: #333;
}

.tabs a.active {
  font-weight: bold;
  color: #fe5201;
  padding: 10px;
  border-bottom: 2px solid #fe5201;
}

.burger-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger-icon span {
  height: 3px;
  width: 25px;
  background-color: #333;
  margin: 6px 0;
  display: block;
}

@media screen and (max-width: 768px) {
  .tabs {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
  }

  .tabs.show-links {
    display: flex;
    opacity: 1;
    visibility: visible;
  }
  .tabs.hide-links {
    opacity: 0;
    visibility: hidden;
  }

  .burger-icon {
    display: flex;
  }

  .tabs,
  .burger-icon {
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
}
