.filter-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
  }
  
  .filter-container div {
    display: flex;
    flex-direction: column;
  }
  
  .filter-container label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .filter-container input {
    padding: 5px;
    font-size: 14px;
  }
  
  .filter-container button {
    align-self: flex-end; /* Align the button to the bottom of the filter fields */
  }
  